<div class="card p-2">
  <h1>{{postagem.titulo}}</h1>
  <hr />
  <div class="my-1">
    <p>{{postagem.conteudo}}</p>
  </div>
  <small class="text-secondary">Categoria:
    <b>{{postagem.categoria.nome}}</b></small>
  <small class="text-secondary">Data de criação:
    <b>{{postagem.data}}</b></small>
</div>